<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter template fields..." ng-model="q">
              <span class="input-group-addon">
                  <i class="fa fa-search"></i>
              </span>
        </div>
    </div>
</div>

<p></p>
<div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="category in fields">
        <div class="panel-heading" role="tab" ng-click="category.collapsed = !category.collapsed" ng-init="category.collapsed=false" style="cursor: pointer;">
            <i class="fa fa-caret-right" ng-class="{'fa-rotate-90': !category.collapsed}"></i>
            {{category.category_name}}
        </div>
        <div class="panel-collapse collapse" ng-class="{'in': !category.collapsed}">
            <div class="panel-body">
                <p><a href="" ng-click="selectAll(category)">Select All</a> | <a href="" ng-click="deselectAll(category)">Deselect All</a></p>

                <div class="row">
                    <div class="col-lg-4" ng-repeat="item in category.list | filter:{ name: q }">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="item.enabled">
                                <span ng-bind-html="item.name | highlight:q"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>