<div class="row" >
    <div class="col-lg-6">
        <form name="myForm" class="form-horizontal" novalidate="novalidate">

            <div class="form-group" ng-repeat="item in fields | map: 'list' | flatten | filter:{ enabled: true }">
                <label class="control-label col-sm-4" for="formElement{{$index}}">{{item.name}}
                    <span ng-show="item.validation.required" class="text-primary">*</span>
                </label>
                <div class="col-sm-8">
                    <input type="{{item.type}}"
                           id="formElement{{$index}}"
                           class="form-control"
                           ng-model="foobar"
                           placeholder="{{item.placeholder}}"

                           ng-required="{{item.validation.required}}"
                           ng-minlength="{{item.validation.minlength}}"
                           ng-maxlength="{{item.validation.maxlength}}"
                           ng-attr-min="{{item.validation.min}}"
                           ng-attr-max="{{item.validation.max}}"

                            />
                </div>
            </div>


            <!--<div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </div>-->
        </form>
    </div>
</div>
