<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>AngularJS test</title>
    <base href="/">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" ng-controller="MenuCtrl as menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Angular Demo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" ng-class="{'in': !navCollapsed}">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: $route.current.activetab == 'configure'}"><a href="configure">Config</a></li>
                    <li ng-class="{active: $route.current.activetab == 'test'}"><a href="test">Test</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-view></div>
    </div>


    <script type="application/javascript" src="/vendor/angular/angular.js"></script>
    <script type="application/javascript" src="/vendor/angular-filter/dist/angular-filter.js"></script>
    <script type="application/javascript" src="/vendor/angular-route/angular-route.js"></script>
    <script type="application/javascript" src="/vendor/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>

    <script type="application/javascript" src="/js/app.js"></script>
    <script type="application/javascript" src="/js/controllers.js"></script>
    <script type="application/javascript" src="/js/services.js"></script>
</body>
</html>